/* Archivo: components/ServiceCard.css */
.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
}

.service-card {
    width: calc(50% - 1em);
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

.service-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1em;
}

.service-name {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 0.5em;
}

.service-description {
    font-size: 1em;
    color: #555;
}
